#contenedor1 {
    width: 100%;
    height: 120px;
    background-color: gray;
}

/*Css para la imagen*/
img {
    float: left;
    width: 130px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

/*Css para el texto*/
h1 {
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    width: 500px;
    color: white;
    text-shadow: 2px 2px black;
}

/*Css para la lista*/

ul {
    float:right;
    list-style-type: none;
    margin: 50px;
    margin-right: 80px;
}

li {
    display: inline;
}

a {
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    color: white;
    text-shadow: 2px 2px black;
}

/*Css para el conetenedor 2*/
#contenedor2 {
    width: 100%;
    height: 500px;
    background-color: tomato;
}




